{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">

<title>{% block 'title' %}
 Pagina Principal
  {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<div class="text-center">
  {% if alertas %}
  <br>
  <div class="alert alert-warning">
      <ul>
          {% for alerta in alertas %}
              <li>{{ alerta.mensagem }}</li>
          {% endfor %}
      </ul>
  </div>
{% endif %}
</div>

<div class="card" style="height: 100vh;">
  <div class="card-body text-center">
    <div class="row centralizar">
      {% for cliente in aniversariantes %}
      <div class="text-center card border-primary mb-3" style="max-width: 18rem; margin-right: 5px;">
        <div class="card-header">Aniversariante do Mes {{cliente.DATA_NASCIMENTO}}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{cliente.NOME}}</h5>
          <p class="card-text">Email: {{cliente.EMAIL}}</p>
          <p class="card-text">Telefone: {{cliente.TELEFONE}} <a href="https://wa.me/55{{cliente.TELEFONE}}?text=Olá {{cliente.NOME}}! Feliz Aniversário! Nós da Otica mais popular estamos muito felizes por lembrar desse dia tão especial para você. Que seu aniversário seja repleto de alegria, amor e momentos inesquecíveis. Queremos que você saiba que valorizamos muito sua confiança em nossos serviços. Esperamos continuar fazendo parte dos seus momentos importantes. Se precisar de algo, estamos sempre à disposição para ajudar! Um grande abraço da equipe Otica mais popular!" target="_blank" rel="noopener noreferrer"><img width="35" height="35" src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsapp--v1"/></a></p>
        </div>
      </div>
      <br>
      {% endfor %}

</div>


    <div class="pagination">
      <samp class="step-links">
            {% if clientes.has_previous %}
            <a href="?page={{clientes.previous_page_number}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVR4nO2XQQrCMBBFH6gHUBdV8ABeQc0tep/eRgTrDTyDuLG68BZ6AKUwwiyKqyYzpf0QCJnF+8lkyAQGtas1MMZIAXgBRwsTO4F/ZJQpTQTgLeCzmh+AUUp4KbvWa/uYJkID/KdcpaNIDV8CD4ldgGnMC3cCJiqWAZXErsC8N/CFNfzeS/gKeMaEb/6UmobXpTZrG+7CQK2tZf47ZaKyNpENJtRJ3FKkI1g+xy4aEhctmYumtKlEk7flLj4mLr5mdFJfjvGIRFYr/lMAAAAASUVORK5CYII="></a>
            {% endif %}

              <samp class="current">
                {{clientes.number}} de {{clientes.paginator.num_pages}}
              </samp>

            {% if clientes.has_next %}
            <a href="?page={{clientes.next_page_number}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA0ElEQVR4nO2XPQoCMRBGH6wHyNr5U1h6BWEL77D32duooEfwBoK1RAvv4G6vCAFDUBaLzIQlA4GQ5n35ZoZMIMd/MQKWKML3wAOopOEFsAGebnXAWhK+c+AWOHr7SvLmrQO+U3GQEtF4ttfeuZiIEjg70AWYaIgwwMmBLDD9kaKohWkCETNtEdcsgo8Tc+103IGFhoix16K3wImwRVeDE2B66mAbMwWmpx0zvIttu9W03X55jKLCS+3nuNEeSArtkUx9KE1iLE/iY5LE14xBxgtb/Ig367sTTAAAAABJRU5ErkJggg=="></a>
            {% endif %}
      </samp>
    </div>





      
    </div>

{% endblock %}