{% load static %}{% load compress %}
{% load filters %}
{% block 'head' %}
{% compress css %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endcompress %}
{% endblock %}

{% if clientes %}

      <h4>Resultado</h4>
      <table id="myTable" class="table table-hover">

          <tr class="thead">
              <th scope="col">NOME</th>
              <th scope="col">LOGRADOURO</th>
              <th scope="col">NUMERO</th>
              <th scope="col">BAIRRO</th>
              <th scope="col">CIDADE</th>
              <th scope="col">CPF</th>
              <th scope="col">EMAIL</th>
              <th scope="col">TELEFONE</th>
              <th scope="col">AÇAO</th>
            </tr>
            {% for cliente in clientes %}
            <tbody>
              <tr>
                <th hidden id="id" name="id">{{cliente.id}}</th>
                <th scope="row"><a href="{% url 'Core:cliente' cliente.id  %}">{{cliente.NOME}}</a></th>
                <td>{{cliente.LOGRADOURO|slice:":10"}}</td>
                <td>{{cliente.NUMERO|slice:":5"}}</td>
                <td>{{cliente.BAIRRO|slice:":10"}}</td>
                <td>{{cliente.CIDADE|slice:":10"}}</td>
                <td>{{cliente.CPF|slice:":3"}}</td>
                <td>{{cliente.EMAIL|slice:":10"}}</td>
                <td>{{cliente.TELEFONE}}<a href="https://wa.me/55{{cliente.TELEFONE|remove_formatacao_telefone}}?text=Olá! {{cliente.NOME}}" target="_blank" rel="noopener noreferrer"><img width="25" height="25" src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsapp--v1"/></a></td>
                <td>
                  <a href="{% url 'Core:Cadastrar_os' cliente.id %}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABHklEQVR4nO2WTUrDUBSFv010UJuI69C6AKEGt6HGuhZnlpYOOuzcn50k4ipMnJlQCdxCCC/JfYlPMsiBOwmBj3veefc+GDVAnQIPwDsQA99SsXwLAf8vgTNgBWTAoaVyYA+c9YXeAKkCWK0ECLpCH6UDW2i5+2WXTvMe0DJc3bmntPccmCttP9GAt8pujtL8u9ZcmcwBOBMna7W0OD8b8AG4bwK/OQS/NIE/HYLjJnBSk15bmdKe2IIvOoAvbcEfDq2OBhmu0CH4tgnsOxogP20DpNDGAfgZ5eI3pduUdlN6q/UFTFHqysLytrV4rYWW53bfh0DxRuukQGm7yd4FPTUBniSZmi53NmeqkSer7VWmUCoVyXC401yZUfy3fgGUCo4V1aA/HAAAAABJRU5ErkJggg=="></a>
                </td>
              </tr>
            </tbody>
            {% endfor%}
      </table>
      <hr>
    </div>

{% else %}
<span style="color: red; font-weight: bold;">Sem Resultado</span>
{% endif %}