{% load static %}{% load compress %}
{% load filters %}
{% block 'head' %}
{% compress css %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endcompress %}
{% endblock %}

{% if Ordem_servicos %}

      <h4>Resultado</h4>
      <table id="myTable" class="table table-hover">
          <tr class="thead">
              <th scope="col">ID</th>
              <th scope="col">SERVIÇO</th>
              <th scope="col">CLIENTE</th>
              <th scope="col">VENDEDOR</th>
              <th scope="col">LENTES</th>
              <th scope="col">DATA PEDIDO</th>
              <th scope="col">STATUS</th>
              <th scope="col">N° Contato</th>
              <th scope="col">PREVISÂO ENTREGA</th>
              <th scope="col">AÇAO</th>
            </tr>
            {% for Os in Ordem_servicos %}
            <tbody>
              <tr>
                <th hidden id="id" name="id">{{Os.id}}</th>
                <th scope="row">{{Os.id}}</th>
                <td >{{Os.SERVICO|slice:":10"}}</td>
                <td>{{Os.CLIENTE|slice:":10"}}</td>
                <td>{{Os.VENDEDOR.first_name|slice:":10"}}</td>
                <td>{{Os.LENTES|slice:":10"}}</td>
                <td>{{Os.DATA_SOLICITACAO|date:"D d M Y"}}</td>
                <td>
                  {% if Os.STATUS == "A" %}
                  <span class="badge badge-info">SOLICITADO</span>
                  {% endif %}

                  {% if Os.STATUS == "E" %}
                  <span class="badge badge-success">ENTREGUE</span>
                   {% endif %}

                   {% if Os.STATUS == "C" %}
                   <span class="badge badge-danger">CANCELADO</span>
                   {% endif %}
                   {% if Os.STATUS == "L" %}
                   <span class="badge badge-primary">LABORATÓRIO</span>
                   {% endif %}
                   {% if Os.STATUS == "J" %}
                   <span class="badge badge-warning">LOJA</span>
                   {% endif %}
                   {% if Os.STATUS == "F" %}
                   <span class="badge badge-dark">FINALIZADO</span>
                   {% endif %}
                </td>
                <td>{{Os.CLIENTE.TELEFONE}}<a href="https://wa.me/55{{Os.CLIENTE.TELEFONE|remove_formatacao_telefone}}?text=Olá! {{Os.CLIENTE.NOME}}" target="_blank" rel="noopener noreferrer"><img width="25" height="25" src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsapp--v1"/></a></td>
                <td>{{Os.PREVISAO_ENTREGA|date:"D d M Y"}}</td>
                <td><a href="{% url 'Core:Visualizar_os' Os.id  %}">Visualizar</td>
              </tr>
            </tbody>
            {% endfor%}
      </table>
      <hr>
    </div>

{% else %}
<span style="color: red; font-weight: bold;">Sem Resultado</span>
{% endif %}