{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endblock %}

{% if Produtos %}

      <table id="myTable" class="table table-hover">
          <tr class="thead">
            <th scope="col">Conferido</th>
              <th scope="col">Codigo</th>
              <th scope="col">Nome</th>
              <th scope="col">Fornecedor</th>
              <th scope="col">Preco unitario</th>
              <th scope="col">Preco venda</th>
              <th scope="col">Qtd</th>
              <th scope="col">Qtd minimo</th>
              <th scope="col">tipo</th>
              <th scope="col">R$</th>
              <th scope="col">Açao</th>
            </tr>
          {% for produto in Produtos %}
            <tbody>
              <tr>
                <th hidden id="id" name="id">{{produto.id}}</th>
                {% if produto.conferido == False %}
                <th scope="row"><img width="20" height="20" src="https://img.icons8.com/color/48/close-window.png" alt="close-window"/></th>
                {% endif %}
                {% if produto.conferido == True %}
                <th scope="row"><img width="20" height="20" src="https://img.icons8.com/emoji/48/check-mark-emoji.png" alt="check-mark-emoji"/></th>
                {% endif %}
                <td><a href="{% url 'Core:editar_produto' %}">{{produto.codigo}}</a></td>
                <td>{{produto.nome}}</td>
                <td>{{produto.fornecedor}}</td>
                <td>{{produto.preco_unitario}}</td>
                <td>{{produto.preco_venda}}</td>
                <td>{{produto.quantidade}}</td>
                <td>{{produto.quantidade_minima}}</td>
                <td>{{produto.tipo_unitario}}</td>
                <td>{{produto.valor_total}}</td>
                <td><a href="{% url 'Core:produto_estoque' produto.id  %}"><img width="20" height="20" src="https://img.icons8.com/ios-filled/50/move-by-trolley.png" alt="move-by-trolley"/></a></td>
              </tr>
            </tbody>
            {% endfor %}
      </table>
      
    </div>

{% else %}
<span style="color: red; font-weight: bold;">Sem Produtos Cadastrados</span>
{% endif %}