.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable {
    background-color: var(--success);
    min-height: 120px;
    margin-bottom: 1rem;
}


.tabela{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: ;
}