<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ativação de Conta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table border="0" cellspacing="0" cellpadding="0" style="max-width: 600px; width: 100%;">
                    <tr>
                        <td style="padding: 40px 20px; text-align: center; background-color: #f7f7f7;">
                            <img src="Backend\templates\static\home\img\logo-preto-amarelo.jpeg" alt="Logo" width="150">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px 20px; background-color: #ffffff;">
                            <h1>Ative sua Conta</h1>
                            <p>Olá {{username}},</p>
                            <p>Obrigado por se cadastrar em nosso Sistema. Para ativar sua conta, clique no botão abaixo:</p>
                            <a class="text-center" href="{{link_ativacao}}" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Ativar Conta</a>
  
                            <p>Se você não se registrou, por favor, ignore este e-mail.</p>
                            <p>Obrigado!</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding: 20px; background-color: #f7f7f7;">
                            &copy; 2023 Otica+Popular. Todos os direitos reservados.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>