{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'Unidades/cadastro_cliente.css' %}">
{% endblock %}

{% block 'body'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>
</head>
<body>
    <section class="container-fluid text-center">
        <div class="container">
            <form method="GET" action="{% url 'cadastro_cliente'%}">{% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlFile1">Anexa Foto</label>
                    <input type="file" class="form-control-file" id="FOTO">
                  </div>
                  <div class="text-center">
                    <label for="">Selecione Exame : </label>
                    
                    <select class="select" name="EXAME" id="EXAME">
                        {% for exame in exames %}
                     
                        <option value="{{exame.id}}">{{exame}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="NOME">Nome</label>
                    <input type="text" class="form-control" name="=NOME" id="NOME" placeholder="Ex: Joao">
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="Telefone">Telefone</label>
                    <input type="password" class="form-control" id="TELEFONE" placeholder="Telefone">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="CPF">CPF</label>
                    <input type="text" class="form-control" id="CPF" placeholder="CPF">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="DATA_NASCIMENTO">Data Nascimento</label>
                    <input type="text" class="form-control" id="DATA_NASCIMENTO" placeholder="01/01/2022">
                  </div>
                </div>
                <div class="form-group">
                  <label for="LOGRADOURO">Logradouro</label>
                  <input type="text" class="form-control" id="LOGRADOURO" placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="NUMERO">Numero</label>
                        <input type="text" class="form-control" id="NUMERO">
                      </div>
                  <div class="form-group col-md-4">
                    <label for="BAIRRO">Bairo</label>
                    <input type="text" class="form-control" id="BAIRRO">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="CIDADE">Cidade</label>
                    <select id="CIDADE" class="form-control">
                      <option selected>Belo Horizonte</option>
                      <option>...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="Cep">Cep</label>
                    <input type="text" class="form-control" id="CEP">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </form>
              
              
        </div>
    </section>
</body>
</html>
{% endblock %}

