{% extends 'base.html' %}
{% load static %} 
{% block 'body'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <section>
        <div class="all-cards">
          <div class="card">
            <img src="" alt="" />
            <h1 class="title-content">Maria Silva</h1>
            <p class="text-content"><b>Serviço:</b> Ajuste no grau</p>
            <p class="text-content"><b>Hora:</b> 14:30H</p>
            <p class="service">PENDENTE</p>
          </div>
          <div class="card">
            <img src="" alt="" />
            <h1 class="title-content">João Henrique</h1>
            <p class="text-content"><b>Serviço:</b> Nova armação</p>
            <p class="text-content"><b>Hora:</b> 10:00H</p>
            <p class="service">PENDENTE</p>
          </div>
          <div class="card">
            <img src="" alt="" />
            <h1 class="title-content">Lucas Alberto</h1>
            <p class="text-content"><b>Serviço:</b> Exame semanal</p>
            <p class="text-content"><b>Hora:</b> 19:00H</p>
            <p class="service">PENDENTE</p>
          </div>
          <div class="card">
            <img src="" alt="" />
            <h1 class="title-content">Juliana Nascimento</h1>
            <p class="text-content"><b>Serviço:</b> Aumento de grau</p>
            <p class="text-content"><b>Hora:</b> 9:45H</p>
            <p class="service">RESOLVIDO</p>
          </div>
          <div class="card">
            <img src="" alt="" />
            <h1 class="title-content">Roberto Toronto</h1>
            <p class="text-content"><b>Serviço:</b> Entrega de oculos</p>
            <p class="text-content"><b>Hora:</b> 7:20H</p>
            <p class="service">CANCELADO</p>
          </div>
          <div class="card">
            <img src="" alt="" />
            <h1 class="title-content">Bruno Gomes</h1>
            <p class="text-content"><b>Serviço:</b> Devolução de oculos</p>
            <p class="text-content"><b>Hora:</b> 15:00H</p>
            <p class="service">PENDENTE</p>
          </div>
        </div>
      </section>
</body>
</html>
{% endblock %}