:root{
    --primeira : orange;
    --segundaria : black;
    --terceira : #fff;
}



.agenda {
    margin-right: 15px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
}

.pagination {
    margin-bottom: 20px;

}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}