{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
{% endblock %}
<title>{% block 'title' %}
    Avaliar Cliente
       {% endblock %}</title>
{% block 'body'%}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h4>Avaliação do Cliente {{ cliente.NOME }}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="{{ form.nota.id_for_label }}">Nota (1 a 5)</label>
                    {{ form.nota }}
                </div>

                <div class="form-group">
                    <label for="{{ form.comentario.id_for_label }}">Comentário</label>
                    {{ form.comentario }}
                </div>

                <button type="submit" class="btn btn-success btn-block">Salvar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
