{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block 'head' %}
{% compress css %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endcompress %}
<title>{% block 'title' %}
  Cliente
  {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: var(--bs-white);">
    <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'Core:clientes'%}">Clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Visualizar Cliente</li>
  </ol>
  <a href="{% url 'Core:historico_compras' cliente.id %}">Ver Histórico de Compras</a>
</nav>
<section class="container-fluid text-center">
  <div class="form_">
    <div class="text-center">
      <label for="" class="titulo">Cadastro cliente</label>
    </div>
      <form method="POST" class="form_cliente" action="{% url 'Core:cliente' cliente.id %}">{% csrf_token %}
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" name="ID" id="ID" value="{{cliente.id}}">
        </div>
        <div class="form-group">
            <label for="NOME">Nome</label>
            <input type="text" readonly class="form-control" name="NOME" id="NOME" value="{{cliente.NOME}}" placeholder="Ex: Joao">
          </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" readonly class="form-control" name="EMAIL" id="EMAIL" value="{{cliente.EMAIL}}" placeholder="Email">
          </div>
          <div class="form-group col-md-4">
            <label for="Telefone">Telefone</label>
            <input type="text" readonly class="form-control" data-mask="(00)00000-0000" id="TELEFONE" value="{{cliente.TELEFONE}}" name="TELEFONE" placeholder="Telefone">
          </div>
          <div class="form-group col-md-2">
            <label for="CPF">CPF</label>
            <input type="text" readonly class="form-control" data-mask="000.000.000-00" id="CPF"  value="{{cliente.CPF}}" name="CPF" placeholder="CPF">
          </div>
          <div class="form-group col-md-2">
            <label for="DATA_NASCIMENTO">Data Nascimento</label>
            <label type="date" readonly class="form-control"  id="DATA_NASCIMENTO" name="DATA_NASCIMENTO">{{cliente.DATA_NASCIMENTO|date:"d/m/Y"}}</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="cep">CEP</label>
            <input type="text" readonly class="form-control" id="CEP" name="CEP" placeholder="Cep" value="{{cliente.CEP}}">
          </div>
          <div class="form-group col-md-8">
            <label for="LOGRADOURO">Logradouro</label>
            <input type="text" readonly class="form-control" id="LOGRADOURO" name="LOGRADOURO" placeholder="Main St" value="{{cliente.LOGRADOURO}}" required>
          </div>
         </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="NUMERO">Numero</label>
                <input readonly type="text" class="form-control" id="NUMERO" value="{{cliente.NUMERO}}" name="NUMERO">
              </div>
          <div class="form-group col-md-4">
            <label for="BAIRRO">Bairro</label>
            <input type="text" readonly class="form-control" id="BAIRRO" value="{{cliente.BAIRRO}}" name="BAIRRO">
          </div>
          <div class="form-group col-md-6">
            <label for="CIDADE">Cidade</label>
            <input id="CIDADE" name="CIDADE"  readonly class="form-control" value="{{cliente.CIDADE}}"  required>
          </div>
        </div>
        <div class="btn-form">
         <a href="{% url 'Core:Edita_cliente' cliente.id  %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'Core:excluir_cliente' cliente.id  %}" class="btn btn-danger">Excluir</a>
      </div>
      </form>   
    </div>
  </div>
</section>
<div class="text-center">
<h3>Avaliações</h3>
{% if reviews %}
    {% for review in reviews %}
        <p>Nota:  {% if review.nota == 1 %}⭐{% endif %}{% if review.nota == 2 %}⭐⭐ {% endif %}{% if review.nota == 3 %}⭐⭐⭐{% endif %}{% if review.nota == 4 %}⭐⭐⭐⭐{% endif %}{% if review.nota == 5 %}⭐⭐⭐⭐⭐{% endif %}</p>
        <p>Comentário: {{ review.comentario }}</p>
        <a href="{% url 'Core:review_update' review.id %}">Editar Avaliaçao</a>
    {% endfor %}
{% else %}
    <p>Este cliente ainda não foi avaliado.</p>
    <a href="{% url 'Core:avaliar_cliente' cliente.id %}">Avaliar Cliente</a>
{% endif %}
</div>
{% endblock %}
