{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block 'head' %}
{% compress css %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endcompress %}
<title>{% block 'title' %}
  Cliente
  {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: var(--bs-white);">
    <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'Core:clientes'%}">Clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar Cliente</li>
  </ol>
</nav>
<section class="container-fluid text-center">
    <div class="text-center">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
  <div class="form_">
    <div class="text-center">
      <label for="" class="titulo">Cadastro cliente</label>
    </div>
      <form method="POST" class="form_cliente" >{% csrf_token %}
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" name="ID" id="ID" value="{{cliente.id}}">
        </div>
        <div class="form-group">
            <label for="NOME">Nome</label>
            <input type="text" class="form-control" name="NOME" id="NOME" value="{{cliente.NOME}}" placeholder="Ex: Joao" required>
          </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="EMAIL" id="EMAIL" value="{{cliente.EMAIL}}" placeholder="Email" required>
          </div>
          <div class="form-group col-md-4">
            <label for="Telefone">Telefone</label>
            <input type="text" class="form-control" data-mask="(00)00000-0000" id="TELEFONE" value="{{cliente.TELEFONE}}" name="TELEFONE" placeholder="Telefone" required>
          </div>
          <div class="form-group col-md-2">
            <label for="CPF">CPF</label>
            <input type="text" class="form-control" data-mask="000.000.000-00" id="CPF"  value="{{cliente.CPF}}" name="CPF" placeholder="CPF" required>
          </div>
          <div class="form-group col-md-2">
            <label for="DATA_NASCIMENTO">Data Nascimento</label>
            <input type="date" class="form-control"  id="DATA_NASCIMENTO" value="{{cliente.DATA_NASCIMENTO|date:"d/m/Y"}}" name="DATA_NASCIMENTO" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="CEP" name="CEP" placeholder="Cep" value="{{cliente.CEP}}">
          </div>
          <div class="form-group col-md-8">
            <label for="LOGRADOURO">Logradouro</label>
            <input type="text" class="form-control" id="LOGRADOURO" name="LOGRADOURO" placeholder="Main St" value="{{cliente.LOGRADOURO}}" required>
          </div>
         </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="NUMERO">Numero</label>
                <input type="text" class="form-control" id="NUMERO" value="{{cliente.NUMERO}}" name="NUMERO" required>
              </div>
          <div class="form-group col-md-4">
            <label for="BAIRRO">Bairro</label>
            <input type="text" class="form-control" id="BAIRRO" value="{{cliente.BAIRRO}}" name="BAIRRO" required>
          </div>
          <div class="form-group col-md-6">
            <label for="CIDADE">Cidade</label>
            <input id="CIDADE" name="CIDADE"  class="form-control" value="{{cliente.BAIRRO}}" required>
          </div>
        </div>
        <div class="btn-form">
            <button type="submit" class="btn btn-primary">Salvar Alteracao</button>
      </div>
      </form>   
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>

{% endblock %}
