{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
{% endblock %}
<title>{% block 'title' %}
    Folha de Pagamento 
{% endblock %}</title>
{% block 'body'%}



{% for item in folha_pagamento %}
<h2 class="text-center">Folha de Pagamento - {{ mes_atual }}/{{ ano_atual }}</h2>
<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title text-center">{{ item.colaborador.first_name }}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <samp class="text-center">Data Contrataçao: {% if item.colaborador.data_contratacao %} {{ item.colaborador.data_contratacao }} {% else %} Sem Data {% endif %}</samp>
                    <label for="salarioBruto" class="col-sm-2 col-form-label">Salário Bruto</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="salarioBruto" value="R$ {{ item.salario_bruto }}">
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="descontos" class="col-sm-2 col-form-label">Descontos</label>
                    <div class="col-sm-10">
                        <div class="form-control-plaintext" id="descontos">
                            {% for desconto in item.descontos %}
                            {{ desconto.tipo }}: {{ desconto.percentual }}%<br>
                            {% endfor %}
                            <hr>
                            Total: R$ {{ item.total_descontos }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="comissoes" class="col-sm-2 col-form-label">Comissões</label>
                    <div class="col-sm-10">
                        <div class="form-control-plaintext" id="comissoes">
                            {% for comissao in item.comissoes %}
                            {{ comissao.valor_vendas }} x {{ item.colaborador.comissao_percentual }}%<br>
                            {% endfor %}
                            <hr>
                            Total: R$ {{ item.total_comissao }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="salarioLiquido" class="col-sm-2 col-form-label">Salário Líquido</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="salarioLiquido" value="R$ {{ item.salario_liquido }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
