{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
{% endblock %}
<title>{% block 'title' %}
    Folha de Pagamento 
{% endblock %}</title>
{% block 'body'%}



{% for item in folha_pagamento %}
<h2 class="text-center"> Holerite ({{ mes_atual }}) x ({{ ano_atual }}) <a href="#">Baixar</a></h2>
<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title text-center">{{ item.colaborador.first_name }}  {% if item.colaborador.FUNCAO == "G" %}
                <span class="badge badge-info">Gerente</span>
                {% endif %}
                {% if item.colaborador.FUNCAO == "C" %}
                <span class="badge badge-info">Caixa</span>
                {% endif %}
                {% if item.colaborador.FUNCAO == "V" %}
                <span class="badge badge-info">Vendedor</span>
                {% endif %} </h5>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <samp class="text-center">Data Contrataçao: {% if item.colaborador.data_contratacao %} {{ item.colaborador.data_contratacao }} {% else %} Sem Data {% endif %}</samp>
                
                    <label for="salarioBruto" class="col-sm-2 col-form-label">Salário Bruto</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="salarioBruto" value="R$ {{ item.salario_bruto }}">
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="descontos" class="col-sm-2 col-form-label">Descontos</label>
                    <div class="col-sm-10">
                        <div class="form-control-plaintext" id="descontos">
                            {% for desconto in item.descontos %}
                            {{ desconto.tipo }}: {{ desconto.percentual }}%<br>
                            {% endfor %}
                            Desconto INSS: R${{item.desconto_inss}}
                            <br>
                            Desconto IRRF: R${{item.desconto_irrf}}
                            <hr>
                            Total: R$ {{ item.total_descontos }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="comissoes" class="col-sm-2 col-form-label">Proventos</label>
                    <div class="col-sm-10">
                        <div class="form-control-plaintext" id="comissoes">
                            {% for comissao in item.comissoes %}
                            Comissão R$ {{ comissao.valor_vendas }} x {{ item.colaborador.comissao_percentual }}%<br>
                            {% endfor %}
                            <hr>
                            Total: R$ {{ item.total_comissao }}
                        </div>
                    </div>
                    <hr>
                    <label for="horas" class="col-sm-2 col-form-label">Horas Extras:</label>
                    <div class="col-sm-10">
                        <div class="form-control-plaintext" id="horas">
                            {% for hora in item.comissoes %}
                            Horas Trabalhadas {{hora.horas_extras}}  x  {{ item.colaborador.valor_hora }} + 50%
                            {% endfor %}
                            <hr>
                            Total: R$ {{item.total_horas }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="salarioLiquido" class="col-sm-2 col-form-label">Salário Líquido</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="salarioLiquido" value="R$ {{ item.salario_liquido }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
