{% extends 'base.html' %}

{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
<style>
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  </style>
<title>{% block 'title' %}
Cadastrar O.S
   {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: var(--bs-white);">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Pagina Principal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'Lista_Os'%}">O.S</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cadastro de O.S</li>
  </ol>
</nav>
    <section class="container-fluid text-center">
      <div class="form_">
        <div class="text-center">
          <label for="" class="titulo">Cadastrar O.S</label>
        </div>
          <form method="POST" class="form_cliente">{% csrf_token %}
            <div class="form-group">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="row">
              <div class="form-group col-md-2">
                <label for="FILIAL">Filial</label>
                <input readonly class="form-control" id="FILIAL" name="FILIAL" value="{{user.UNIDADE}}" >
              </div>
              <div class="form-group col-md-2">
                <label for="VENDEDOR">Vendedor</label>
                <input readonly class="form-control" id="VENDEDOR" name="VENDEDOR" value="{{user.first_name}}" >
              </div>
              <div class="form-group col-md-4">
                <label for="CLIENTE">Cliente</label>
                <input readonly class="form-control" id="CLIENTE" name="CLIENTE" value="{{cliente.NOME}}" >
              </div>
              <div class="form-group col-md-2">
                <label for="DATA_NASCIMENTO">Previsao Entrega</label>
                <input type="date" class="form-control"  id="DATA_NASCIMENTO" name="DATA_NASCIMENTO">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Tipo de Serviço</label>
                  <select id="SERVICO" name="SERVICO" onChange="update()" class="form-control">
                    <option selected>Escolha...</option>
                     {% for servico in servicos %}
                     <option value="{{servico}}">{{servico}}</option>
                     {% endfor%}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">Sub Serviço</label>
                  <select id="SUB_SERVICO" name="SUB_SERVICO" class="form-control">
                    <option selected>Escolha...</option>
                    {% for sub in sub_servicos %}
                    <option value="{{sub}}">{{sub}}</option>
                    {% endfor%}
                  </select>
                </div>
              </div>
            </div>
       
                <label for="NUMERO">Receita</label>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">OD</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="ESF">
              </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="CIL">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="EIXO">
            </div>

            
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">OE</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="ESF">
              </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="CIL">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" placeholder="EIXO">
            </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">AD</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="AD">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="FILIAL">Lentes</label>
              <input  class="form-control" id="#" name="#"  >
            </div>
            <div class="form-group col-md-12">
              <label for="FILIAL">Armação</label>
              <input  class="form-control" id="#" name="#"  >
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Obeservaçâo</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <hr>
            <div class="text center">
              <div class="row">
              <label for="NUMERO">FINANCEIRO</label>
              <div class="form-group col-md-2">
                <label for="inputState">Pagamento</label>
                <select id="inputState" class="form-control">
                  <option selected>Escolha...</option>
                  <option value="pix">PIX</option>
                  <option value="Dinheiro">Dinheiro</option>
                  <option value="Debito">Debito</option>
                  <option value="Credito">Credito</option>
                  <option value="Carne">Carne</option>
                  <option value="Permuta">Permuta</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Valor</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Parcelas</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Entrada</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Finalizar</button>
          </form>   
        </div>
      </div>
    </section>

    <script src="{% static 'Unidades/js/os.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>


{% endblock %}
