{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block 'head' %}
{% compress css %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endcompress %}
<title>{% block 'title' %}
Cadastrar O.S
   {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: var(--bs-white);">
    <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'Core:Lista_Os'%}">O.S</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cadastro de O.S</li>
  </ol>
</nav>
<a href="{% url 'Core:os_list' %}" class="btn btn-primary">Serviços</a>
    <section class="container-fluid text-center">
      <div class="form_">
        <div class="text-center">
          <label for="" class="titulo">Cadastrar O.S</label>
        </div>
        <div class="text-center">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert {{message.tags}}">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      </div>
          <form method="POST"  enctype="multipart/form-data" class="form_cliente container-fluid">{% csrf_token %}
            <div class="row">
              <div class="form-group col-md-6">
                <label for="VENDEDOR" >Vendedor</label>
                <input readonly class="form-control" value="{{user.first_name}}" >
                <input type="text" id="VENDEDOR" style="display: none;" name="VENDEDOR" value="{{user.id}}">
              </div>
              <div class="form-group col-md-6">
                <label for="CLIENTE">Cliente</label>
              <input type="button" readonly class="form-control" value="{{cliente.NOME}}">
                <input readonly class="form-control" style="display: none;" id="CLIENTE" name="CLIENTE" value="{{cliente.id}}" >
              </div>
            </div>
            <hr>
            <div class="row text-center">
              <div class="form-row">
                <div class="form-group col">
                  <label for="inputState">Tipo de Serviço</label>
                  <select id="SERVICO" name="SERVICO" class="form-control"  required="required">
                    {% for servico in servicos %}
                    <option selected value="{{servico.id}}">{{servico}}</option>
                    {% endfor %}
                  </select>
                </div>
                </div>
              </div>
            </div>
            <div id="_receita">
                <label for="NUMERO">Receita</label>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">OD</label>
              <div class="col-sm-3">
                <input  type="text" class="form-control" name="OD_ESF"  id="OD_ESF" maxlength="6" placeholder="ESF">
              </div>
            <div class="col-sm-3">
              <input type="text" class="form-control"  name="OD_CIL" id="OD_CIL" maxlength="6" placeholder="CIL">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control"  name="OD_EIXO" id="OD_EIXO" maxlength="6" placeholder="EIXO">
            </div>

            
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">OE</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="OE_ESF" id="OE_ESF" maxlength="6" placeholder="ESF">
              </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="OE_CIL" id="OE_CIL" maxlength="6" placeholder="CIL">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="OE_EIXO" id="OE_EIXO" maxlength="6" placeholder="EIXO">
            </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">AD</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="AD" id="AD" maxlength="6" placeholder="AD">
              </div>
              <div class="col-sm-8">
                <input type="file"  class="form-control-file" id="ANEXO" name="ANEXO">
              </div>
            </div>
            </div>
            <hr> 
            <div id="_laboratorio">
            <label for="">Laboratorio</label>
            <div class="form-row">
              <div class="col-md-2">
                <input type="text" class="form-control" id="DNP" name="DNP" maxlength="15" placeholder="DNP"> 
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="P" name="P" maxlength="6" placeholder="P">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="DPA" name="DPA" maxlength="6" placeholder="DPA">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="DIAG" name="DIAG" maxlength="6" placeholder="DIAG">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="V" name="V" maxlength="6" placeholder="V"> 
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="H" name="H" maxlength="6" placeholder="H">
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="col-md-4">
                <input type="text" class="form-control" id="ALT" name="ALT" maxlength="6" placeholder="ALT"> 
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="ARM" name="ARM" maxlength="6" placeholder="ARM">
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="MONTAGEM" name="MONTAGEM" maxlength="6" placeholder="Montagem">
              </div>
            </div>
          </div>
            <hr>
            <div class="form-group col-md-12" id="_lentes">
              <label>Lentes</label>
              <input  class="form-control" id="LENTES" name="LENTES" maxlength="150" >
            </div>
            <div class="form-group col-md-12" id="_armacao">
              <div class="input-group">
                  <label  class="sr-only">Armação</label>
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-search"></i>
                      </div>
                  </div>    
                    <input type="text" id="search-input" name="search_products" hx-get="/search_products" hx-target="#produto-select" hx-trigger="keyup changed delay:500ms" placeholder="   do produto...">
                    <select id="produto-select" name="ARMACAO" class="form-control">
                      <option value="" disabled selected>Estoque ...</option>
                      {% include 'parcial/select_options.html' %}
                    </select>
              </div>
              <br>
              <div class="col-auto">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><img src="{% static 'home/img/code.png' %}" height="25px" width="25px" alt=""></div>
                  </div>
                  <input class="form-control" type="text" id="search-input" name="search_products" hx-get="/search_products" hx-target="#produto-select" hx-trigger="keyup changed delay:500ms" placeholder="Etiqueta">
                </div>
              </div>
          </div>
            <div class="form-group" id="_observacao">
              <label for="exampleFormControlTextarea1">Obeservaçâo</label>
              <textarea class="form-control" id="OBSERVACAO" name="OBSERVACAO" rows="2" maxlength="80"></textarea>
            </div>
            <hr>
            <div class="text center">
              <div class="row">
              <label for="NUMERO">FINANCEIRO</label>
              <div class="form-group col-md-2">
                <label for="inputState">Pagamento</label>
                <select id="PAGAMENTO" name="PAGAMENTO" class="form-control">
                  <option value="A">Pix</option>
                  <option value="B" selected >Dinheiro</option>
                  <option value="C">Debito</option>
                  <option value="D">Credito</option>
                  <option value="E">Carne</option>
                  <option value="F">Permuta</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Valor</label>
                <input required type="text" class="form-control" data-mask='000.000.000.000.000,00' maxlength="6" data-mask-reverse="true" id="VALOR" name="VALOR">
              </div>
              <div class="form-group col-md-2" id="_parcela">
                <label for="inputZip">Parcelas</label>
                <select id="QUANTIDADE_PARCELA" name="QUANTIDADE_PARCELA" class="form-control">
                  <option value="0">Escolha...</option>
                  <option value="1" selected>1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
                </select>
              </div>
              
              <div class="form-group col-md-2" id="_entrada">
                <label for="inputZip">Valor Pago</label>
                <input  type="text" class="form-control" data-mask='000.000.000.000.000,00' maxlength="6" data-mask-reverse="true" id="ENTRADA" name="ENTRADA">
              </div>
              <div class="form-group col-md-2">
                <label for="PREVISAO_ENTREGA">Previsao Entrega</label>
                <input required type="date" class="form-control"  id="PREVISAO_ENTREGA" name="PREVISAO_ENTREGA">
              </div>
            </div>
            </div>
            <button type="submit" style="margin: 15px;" class="btn btn-primary">Finalizar Compra</button>
            
          </form>   
        </div>
      </div>
    </section>
    
    {% compress js %}
    <script src="{% static 'Unidades/js/os.js' %}"></script>
    <script src="{% static 'Unidades/js/os_Segundo.js' %}"></script>
    <script src="{% static 'Unidades/js/carne.js' %}"></script>
    {% endcompress %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>


  <script>
    // Adiciona o evento de 'blur' (perda de foco) no campo de busca
    document.getElementById('search-input').addEventListener('blur', function() {
      // Verifica se o campo de ARMACAO está preenchido
      const armacao = document.querySelector('select[name="ARMACAO"]').value;
      if (!armacao) {
        // Se ARMACAO não estiver preenchido, limpa o campo de busca
        this.value = '';
      }
    });
  </script>


{% endblock %}
