{% extends 'base.html' %}

{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">

<title>{% block 'title' %}
Cadastrar O.S
   {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: var(--bs-white);">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Pagina Principal</a></li>
    <li class="breadcrumb-item"><a href="{% url 'Lista_Os'%}">O.S</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cadastro de O.S</li>
  </ol>
</nav>
    <section class="container-fluid text-center">
      <div class="form_">
        <div class="text-center">
          <label for="" class="titulo">Cadastrar O.S</label>
        </div>
        <div class="text-center">
          {% if messages %}
              {% for message in messages %}
                  <div class="alert {{message.tags}}">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      </div>
          <form method="POST"  enctype="multipart/form-data" class="form_cliente">{% csrf_token %}
            <div class="row">
              <div class="form-group col-md-4">
                <label for="FILIAL">Filial</label>
                <input readonly class="form-control" id="FILIAL" name="FILIAL" value="{{user.UNIDADE}}" >
              </div>
              <div class="form-group col-md-4">
                <label for="VENDEDOR" >Vendedor</label>
                <input readonly class="form-control" value="{{user.first_name}}" >
                <input type="text" id="VENDEDOR" style="display: none;" name="VENDEDOR" value="{{user.id}}">
              </div>
              <div class="form-group col-md-4">
                <label for="CLIENTE">Cliente</label>
                <input readonly class="form-control" value="{{cliente.NOME}}">
                <input readonly class="form-control" style="display: none;" id="CLIENTE" name="CLIENTE" value="{{cliente.id}}" >
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputState">Tipo de Serviço</label>
                  <select id="SERVICO" name="SERVICO" class="form-control" required="required">
                    <option selected>Escolha...</option>
                    <option value="Encomenda">Encomenda</option>
                    <option value="Pronta Entrega">Pronta Entrega</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">Sub Serviço</label>
                  <select id="SUB_SERVICO" name="SUB_SERVICO" class="form-control" required>
                    <option selected>Escolha...</option>
                  </select>
                </div>
              </div>
            </div>
       
                <label for="NUMERO">Receita</label>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">OD</label>
              <div class="col-sm-3">
                <input  type="text" class="form-control" name="OD_ESF" id="OD_ESF" placeholder="ESF">
              </div>
            <div class="col-sm-3">
              <input type="text" class="form-control"  name="OD_CIL" id="OD_CIL" placeholder="CIL">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control"  name="OD_EIXO" id="OD_EIXO" placeholder="EIXO">
            </div>

            
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">OE</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="OE_ESF" id="OE_ESF" placeholder="ESF">
              </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="OE_CIL" id="OE_CIL" placeholder="CIL">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="OE_EIXO" id="OE_EIXO" placeholder="EIXO">
            </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-1 col-form-label">AD</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="AD" id="AD" placeholder="AD">
              </div>
              <div class="col-sm-8">
                <input type="file" required class="form-control-file" id="ANEXO" name="ANEXO">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="FILIAL">Lentes</label>
              <input  class="form-control" id="LENTES" name="LENTES"  >
            </div>
            <div class="form-group col-md-12">
              <label for="FILIAL">Armação</label>
              <input  class="form-control" id="ARMACAO" name="ARMACAO"  >
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Obeservaçâo</label>
              <textarea class="form-control" id="OBSERVACAO" name="OBSERVACAO" rows="3"></textarea>
            </div>
            <hr>
            <div class="text center">
              <div class="row">
              <label for="NUMERO">FINANCEIRO</label>
              <div class="form-group col-md-2">
                <label for="inputState">Pagamento</label>
                <select id="PAGAMENTO" name="PAGAMENTO" onChange="link()" class="form-control" required>
                  <option selected>Escolha...</option>
                  <option value="A">Pix</option>
                  <option value="B">Dinheiro</option>
                  <option value="C">Debito</option>
                  <option value="D">Credito</option>
                  <option value="E">Carne</option>
                  <option value="F">Permuta</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Valor</label>
                <input required type="text" class="form-control" id="VALOR" name="VALOR">
              </div>
              <div class="form-group col-md-2" id="_parcela">
                <label for="inputZip">Parcelas</label>
                <select id="QUANTIDADE_PARCELA" name="QUANTIDADE_PARCELA" class="form-control">
                  <option value="0"selected>Escolha...</option>
                  <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
                </select>
              </div>
              
              <div class="form-group col-md-2" id="_entrada">
                <label for="inputZip">Entrada</label>
                <input  type="text" class="form-control" id="ENTRADA" name="ENTRADA">
              </div>
              <div class="form-group col-md-2">
                <label for="PREVISAO_ENTREGA">Previsao Entrega</label>
                <input required type="date" class="form-control"  id="PREVISAO_ENTREGA" name="PREVISAO_ENTREGA">
              </div>
            </div>
            </div>
            <div class="alert alert-warning _carner" id="_carner" style="display: none;" role="alert">
              Antes de Finalizar Cadastre o Carne: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfZZXRyL25ZIHRUcOxJTRIGD7godA-FvRdAOAwe4G_fg2UP8w/viewform" class="alert-link"> Formulario para Cadastro</a>.
            </div>
            <button type="submit" class="btn btn-primary">Finalizar Compra</button>

          </form>   
        </div>
      </div>
    </section>

    <script src="{% static 'Unidades/js/os.js' %}"></script>
    <script src="{% static 'Unidades/js/carne.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>


{% endblock %}
