{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block 'head' %}
{% compress css %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">
{% endcompress %}
<title>{% block 'title' %}
Vizualiar O.S
  {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: var(--bs-white);">
      <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Core:Lista_Os'%}">Listar O.S</a></li>
      <li class="breadcrumb-item active" aria-current="page">Visualziar O.S</li>
    </ol>
  </nav>
  <section class="container-fluid text-center">
    <div class="text-center">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <form method="POST" enctype="multipart/form-data" class="form_cliente">{% csrf_token %}
      <h1>{{unidade}}{{VISUALIZAR_OS.id}}</h1>
        <div class="row">
        <div class="col-md-6">
          {% if VISUALIZAR_OS.ANEXO %}
          <label for="EDITAR_ANEXO">Escolha images para upload (PNG, JPG, JPEG, PDF)</label>
          {{VISUALIZAR_OS.ANEXO.url}}
          {% endif %}
          <input type="file" class="form-control-file"  accept=".png, .jpg, .jpeg, .pdf" id="ANEXO" name="ANEXO">
        </div>

        <div class="col-md-6">
          {% if VISUALIZAR_OS.ASSINATURA %}
          <label for="EDITAR_ASSINATURA">Escolha images para upload (PNG, JPG, JPEG, PDF)</label>
            {{VISUALIZAR_OS.ASSINATURA.url}}
          {% endif %}
          <input type="file" class="form-control-file"  accept=".png, .jpg, .jpeg, .pdf" id="ASSINATURA" name="ASSINATURA">
        </div>
      </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="VENDEDOR" >Vendedor</label>
            <input readonly class="form-control" value="{{VISUALIZAR_OS.VENDEDOR.first_name}}" >
            <input type="text" id="VENDEDOR" style="display: none;" name="VENDEDOR" value="{{VISUALIZAR_OS.VENDEDOR.first_name}}">
          </div>
          <div class="form-group col-md-6">
            <label for="CLIENTE">Cliente</label>
            <input readonly class="form-control"  id="CLIENTE" name="CLIENTE" value="{{VISUALIZAR_OS.CLIENTE}}" >
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Tipo de Serviço</label>
              <select required id="SERVICO" name="SERVICO" class="form-control" readonly>
                <option selected>{{VISUALIZAR_OS.SERVICO}}</option>
                <option value="Encomenda">Encomenda</option>
                <option value="Pronta Entrega">Pronta Entrega</option>
              </select>
            </div>

          </div>
        </div>
        {% if user.FUNCAO == "G"  %}
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-1 col-form-label">OD</label>
          <div class="col-sm-3">
            <input  type="text" class="form-control" name="OD_ESF" id="OD_ESF" value="{{VISUALIZAR_OS.OD_ESF}}" maxlength="6" >
          </div>
        <div class="col-sm-3">
          <input type="text" class="form-control"  name="OD_CIL" id="OD_CIL" value="{{VISUALIZAR_OS.OD_CIL}}" maxlength="6" >
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control"  name="OD_EIXO" id="OD_EIXO" value="{{VISUALIZAR_OS.OD_EIXO}}" maxlength="6" >
        </div>

        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-1 col-form-label">OE</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="OE_ESF" id="OE_ESF" value="{{VISUALIZAR_OS.OE_ESF}}" maxlength="6" >
          </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="OE_CIL" id="OE_CIL" value="{{VISUALIZAR_OS.OE_CIL}}" maxlength="6">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="OE_EIXO" id="OE_EIXO"  value="{{VISUALIZAR_OS.OE_EIXO}}" maxlength="6" >
        </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-1 col-form-label">AD</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="AD" id="AD" value="{{VISUALIZAR_OS.AD}}" maxlength="6" >
          </div>
        </div>
        <hr> 
            <label for="">Laboratorio</label>
            <div class="form-row">
              <div class="col-md-2">
                <input type="text" class="form-control" id="DNP" name="DNP" value="{{VISUALIZAR_OS.DNP}}" maxlength="15" >
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="P" name="P" value="{{VISUALIZAR_OS.P}}" maxlength="6">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="DPA" name="DPA" value="{{VISUALIZAR_OS.DPA}}"  maxlength="6" >
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="DIAG" name="DIAG" value="{{VISUALIZAR_OS.DIAG}}"  maxlength="6" >
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="V" name="V" value="{{VISUALIZAR_OS.V}}"  maxlength="6" >
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="H" name="H" value="{{VISUALIZAR_OS.H}}"  maxlength="6">
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="col-md-4">
                <input type="text" class="form-control" id="ALT" name="ALT" value="{{VISUALIZAR_OS.ALT}}"  maxlength="6" >
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="ARM" name="ARM" value="{{VISUALIZAR_OS.ARM}}"  maxlength="6" >
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="MONTAGEM" name="MONTAGEM" value="{{VISUALIZAR_OS.MONTAGEM}}"  maxlength="6" >
              </div>
            </div>
            <hr>
        <div class="form-group col-md-12">
          <label for="FILIAL">Lentes</label>
          <input required class="form-control"  value="{{VISUALIZAR_OS.LENTES}}" id="LENTES" name="LENTES"  maxlength="6"  >
        </div>
        <div class="form-group col-md-12">
          <label for="FILIAL">Armação</label>
          <input required class="form-control"  value="{{VISUALIZAR_OS.ARMACAO}}" id="ARMACAO" name="ARMACAO"  readonly >
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Obeservaçâo</label>
          <textarea class="form-control"   id="OBSERVACAO" name="OBSERVACAO" rows="3"  maxlength="150" >{{VISUALIZAR_OS.OBSERVACAO}}</textarea>
        </div>
        <hr>
        <div class="text center">
          <div class="row">
          <label for="NUMERO">FINANCEIRO</label>
          <div class="form-group col-md-2">
            <label for="inputState">Pagamento</label>
            <select required id="PAGAMENTO"  name="PAGAMENTO" onChange="link()" class="form-control">
                {% if VISUALIZAR_OS.FORMA_PAG == "A" %}
                  <option selected value="A">Pix</option>
                  <option value="B">Dinheiro</option>
                  <option value="C">Debito</option>
                  <option value="D">Credito</option>
                  <option value="E">Carne</option>
                  <option value="F">Permuta</option>
                {% endif%}
                {% if VISUALIZAR_OS.FORMA_PAG == "B" %}
                  <option selected value="B">Dinheiro</option>
                  <option value="A">Pix</option>
                  <option value="C">Debito</option>
                  <option value="D">Credito</option>
                  <option value="E">Carne</option>
                  <option value="F">Permuta</option>
                {% endif%}
                {% if VISUALIZAR_OS.FORMA_PAG == "C" %}
                  <option selected value="C">Debito</option>
                  <option value="A">Pix</option>
                  <option value="B">Dinheiro</option>
                  <option value="D">Credito</option>
                  <option value="E">Carne</option>
                  <option value="F">Permuta</option>
                {% endif%}
                {% if VISUALIZAR_OS.FORMA_PAG == "D" %}
                  <option selected value="D">Credito</option>
                  <option value="A">Pix</option>
                  <option value="B">Dinheiro</option>
                  <option value="C">Debito</option>
                  <option value="E">Carne</option>
                  <option value="F">Permuta</option>
                {% endif%}
                {% if VISUALIZAR_OS.FORMA_PAG == "E" %}
                  <option selected value="E">Carne</option>
                  <option value="A">Pix</option>
                  <option value="B">Dinheiro</option>
                  <option value="C">Debito</option>
                  <option value="D">Credito</option>
                  <option value="F">Permuta</option>
                {% endif%}
                {% if VISUALIZAR_OS.FORMA_PAG == "F" %}
                  <option selected value="F">Permuta</option>
                  <option value="A">Pix</option>
                  <option value="B">Dinheiro</option>
                  <option value="C">Debito</option>
                  <option value="D">Credito</option>
                  <option value="E">Carne</option>
                {% endif%}
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Valor</label>
            <input required type="text"  value="{{VISUALIZAR_OS.VALOR}}" data-mask='000.000.000.000.000,00' data-mask-reverse="true" class="form-control" id="VALOR" name="VALOR">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Parcelas</label>
            <select required id="QUANTIDADE_PARCELA"  name="QUANTIDADE_PARCELA" class="form-control">
                {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 1 %}
                <option selected value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
                {% endif%}

                {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 2 %}
              <option selected value="2">2x</option>
              <option value="1">1x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

                {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 3 %}
              <option selected value="3">3x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

                {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 4 %}
              <option selected value="4">4x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 5 %}
              <option selected value="5">5x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 6 %}
              <option selected value="6">6x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 7 %}
              <option selected value="7">7x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 8 %}
              <option selected value="8">8x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
              {% endif%}

              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 9 %}
              <option selected value="9">9x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="10">10x</option>
              {% endif%}

              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 10 %}
              <option selected value="10">10x</option>
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
              {% endif%}
              {% if VISUALIZAR_OS.QUANTIDADE_PARCELA == 0 %}
              <option value="1">1x</option>
                  <option value="2">2x</option>
                  <option value="3">3x</option>
                  <option value="4">4x</option>
                  <option value="5">5x</option>
                  <option value="6">6x</option>
                  <option value="7">7x</option>
                  <option value="8">8x</option>
                  <option value="9">9x</option>
                  <option value="10">10x</option>
                {% endif%}
            </select>
          </div>
          
          <div class="form-group col-md-2">
            <label for="inputZip">Entrada</label>
            <input required type="text"  value="{{VISUALIZAR_OS.ENTRADA}}" class="form-control" data-mask='000.000.000.000.000,00' data-mask-reverse="true" id="ENTRADA" name="ENTRADA">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Status</label>
            {% if VISUALIZAR_OS.STATUS == "A" %}
            <h4><span class="badge badge-info">SOLICITADO</span></h4>
            {% endif %}

            {% if VISUALIZAR_OS.STATUS == "E" %}
            <h4><span class="badge badge-success">ENTREGUE</span></h4>
             {% endif %}

             {% if VISUALIZAR_OS.STATUS == "C" %}
             <h4><span class="badge badge-danger">CANCELADO</span></h4>
             {% endif %}

             {% if VISUALIZAR_OS.STATUS == "L" %}
             <h4><span class="badge badge-primary">LABORATÓRIO</span></h4>
             {% endif %}

             {% if VISUALIZAR_OS.STATUS == "J" %}
             <h4><span class="badge badge-warning">LOJA</span></h4>
             {% endif %}
           
          </div>
        </div>
        </div>
        {% else%}
        {% endif%}
        <button type="submit" style="margin: 15px;" class="btn btn-primary">Salvar</button>
      </form>

  </section>


  <script src="{% static 'Unidades/js/os.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js" type="text/javascript"></script>

    <script>
var upload = document.getElementById("ANEXO");
upload.addEventListener("change", function(e) {
    var size = upload.files[0].size;
    if(size < 2097152) { //1MB         
      
    } else {           
      alert('Arquivo maior que 2MB insira um arquivo menor'); //Acima do limite
      upload.value = ""; //Limpa o campo          
    }
    e.preventDefault();
});

    </script>

{%endblock%}