{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
{% endblock %}
<title >{% block 'title' %}
  Lista de Serviços
       {% endblock %}</title>
{% block 'body'%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: var(--bs-white);">
      <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
      <li class="breadcrumb-item"><a href="{% url 'Core:Lista_Os'%}">O.S</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Laboratorio</li>
    </ol>
  <h2 class="text-center">Lista de Laboratorios</h2>

  <a href="{% url 'Core:LabCreateView' %}" class="btn btn-success">Novo Laboratorio</a>
  <br>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for lab in object_list %}
      <tr>
        <th scope="row">{{lab.pk}}</th>
        <td>{{ lab }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
