{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">

<title>{% block 'title' %}
  O.S
  {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: var(--bs-white);">
    <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
    <li class="breadcrumb-item active" aria-current="page">O.S</li>
  </ol>
</nav>
<span class="htmx-indicator"> 
  Pesquisando... 
 </span> 
<div class="text-center">
  <nav class="navbar navbar-light bg-white">
    <form class="form-inline">
      <!-- <input class="form-control mr-sm-2" type="text" id="myInput" onkeyup="myFunction()"  placeholder="Buscar" aria-label="Search">-->
      <input class="form-control mr-sm-2" type="search" 
       name="search" placeholder="Cliente" 
       hx-get="search/" 
       hx-trigger="input changed delay:500ms, search" 
       hx-target="#search-results" 
       hx-indicator=".htmx-indicator">
    </form>
    <div class="text-center">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {{message.tags}}">
                  {{message}}
              </div>
          {% endfor %}
      {% endif %}
  </div>
  </nav>
                <table id="myTable" class="table table-hover">
                  <span id="search-results"></span>
                    <tr class="thead">
                        <th scope="col">ID</th>
                        <th scope="col">SERVIÇO</th>
                        <th scope="col">CLIENTE</th>
                        <th scope="col">VENDEDOR</th>
                        <th scope="col">LENTES</th>
                        <th scope="col">DATA PEDIDO</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">OBSERVAÇAO</th>
                        <th scope="col">PREVISÂO ENTREGA</th>
                        <th scope="col">AÇAO</th>
                      </tr>
                      {% for Os in Ordem_servicos %}
                      <tbody>
                        <tr>
                          <th hidden id="id" name="id">{{Os.id}}</th>
                          <th scope="row">{{Os.id}}</th>
                          <td >{{Os.SERVICO|slice:":10"}}</td>
                          <td>{{Os.CLIENTE|slice:":10"}}</td>
                          <td>{{Os.VENDEDOR.first_name|slice:":10"}}</td>
                          <td>{{Os.LENTES|slice:":10"}}</td>
                          <td>{{Os.DATA_SOLICITACAO|date:"D d M Y"}}</td>
                          <td>
                            {% if Os.STATUS == "A" %}
                            <span class="badge badge-info">SOLICITADO</span>
                            {% endif %}

                            {% if Os.STATUS == "E" %}
                            <span class="badge badge-success">ENTREGUE</span>
                             {% endif %}

                             {% if Os.STATUS == "C" %}
                             <span class="badge badge-danger">CANCELADO</span>
                             {% endif %}
                             {% if Os.STATUS == "L" %}
                             <span class="badge badge-primary">LABORATÓRIO</span>
                             {% endif %}
                             {% if Os.STATUS == "J" %}
                             <span class="badge badge-warning">LOJA</span>
                             {% endif %}
                          </td>
                          <td>{{Os.OBSERVACAO|slice:":10"}}</td>
                          <td>{{Os.PREVISAO_ENTREGA|date:"D d M Y"}}</td>
                          <td><a href="{% url 'Core:Visualizar_os' Os.id  %}">Visualizar</td>
                        </tr>
                      </tbody>
                      {% endfor%}
                </table>
            </div>
            <div class="pagination">
              
              <samp class="step-links">
                    {% if Ordem_servicos.has_previous %}
                    <a href="?page={{Ordem_servicos.previous_page_number}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVR4nO2XQQrCMBBFH6gHUBdV8ABeQc0tep/eRgTrDTyDuLG68BZ6AKUwwiyKqyYzpf0QCJnF+8lkyAQGtas1MMZIAXgBRwsTO4F/ZJQpTQTgLeCzmh+AUUp4KbvWa/uYJkID/KdcpaNIDV8CD4ldgGnMC3cCJiqWAZXErsC8N/CFNfzeS/gKeMaEb/6UmobXpTZrG+7CQK2tZf47ZaKyNpENJtRJ3FKkI1g+xy4aEhctmYumtKlEk7flLj4mLr5mdFJfjvGIRFYr/lMAAAAASUVORK5CYII="></a>
                    {% endif %}

                      <samp class="current">
                        {{Ordem_servicos.number}} de {{Ordem_servicos.paginator.num_pages}}
                      </samp>

                    {% if Ordem_servicos.has_next %}
                    <a href="?page={{Ordem_servicos.next_page_number}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA0ElEQVR4nO2XPQoCMRBGH6wHyNr5U1h6BWEL77D32duooEfwBoK1RAvv4G6vCAFDUBaLzIQlA4GQ5n35ZoZMIMd/MQKWKML3wAOopOEFsAGebnXAWhK+c+AWOHr7SvLmrQO+U3GQEtF4ttfeuZiIEjg70AWYaIgwwMmBLDD9kaKohWkCETNtEdcsgo8Tc+103IGFhoix16K3wImwRVeDE2B66mAbMwWmpx0zvIttu9W03X55jKLCS+3nuNEeSArtkUx9KE1iLE/iY5LE14xBxgtb/Ig367sTTAAAAABJRU5ErkJggg=="></a>
                    {% endif %}
              </samp>
            </div>
        </section>
</body>
<script src="{% static 'Unidades/js/Search.js' %}"></script>
</html>
{% endblock %}
