{% extends 'base.html' %}
{% load static %}
<title>{% block 'title' %}
Os Pendente de pagamento
  {% endblock %}</title>

{% block 'body'%}
<h2 class="text-center">Ordens com Pagamento Pendente</h2>
<div class="container-fluid text-center">
<table class="table"  border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>OS</th>
            <th>Cliente</th>
            <th>Data Venciamento</th>
            <th>Valor A ser Pago</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pendentes %}
        <tr>
            <td>{{ item.ordem.id }}</td>
            <td>{{ item.ordem.CLIENTE.NOME }}</td>
            <td>{{ item.data_vencimento }}</td>
            <td>R$ {{ item.valor|floatformat:2 }}</td>
            <td>
                <a href="/Visualizar_os/{{ item.ordem }}" class="btn btn-primary">Visualizar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="8">Nenhuma ordem pendente de pagamento.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
