.logar {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}


.bto-group-lg>.bto, .bto-lg {
 
    border-radius: 0.3rem;
    width: 94px;
    height: 38px;
}


.bto-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.logar-form input {
    background-color: #EAEAEA;
    color: #838383;
    padding: 15px;
    display: block;
    width: 100%;
}



#page-content-wrapper {
    background-color: #f7f7f7;
    background-image: url('../img/logo-preto-amarelo.jpeg');
    background-attachment:fixed;
    background-size:contain;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}

