<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./base.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sis- Otica</title>
  </head>
  <body>
    <header class="header">
      <div class="itens">
        <img src="img/Logo.jpeg" alt="logo" class="logo" />
        <div class="all-botons">
          <button class="boton">Entrar</button>
          <button class="boton">Cadastrar-se</button>
          <button class="boton">Suporte</button>
        </div>
      </div>
    </header>
    <div id="menu">
      <a href="link1.htm"
        ><button class="cta">
          <span>INICIO</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
      </a>
      <a href="link1.htm"
        ><button class="cta">
          <span>CONTATOS</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
      </a>
      <a href="link1.htm"
        ><button class="cta">
          <span>SERVIÇOS</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
      </a>
      <a href="link1.htm"
        ><button class="cta">
          <span>PLANOS</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
      </a>
      <a href="link1.htm"
        ><button class="cta">
          <span>AGENDA</span>
          <svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </button>
      </a>
    </div>
    <section>
      <div class="all-cards">
        <div class="card">
          <img src="" alt="" />
          <h1 class="title-content">Maria Silva</h1>
          <p class="text-content"><b>Serviço:</b> Ajuste no grau</p>
          <p class="text-content"><b>Hora:</b> 14:30H</p>
          <p class="service">PENDENTE</p>
        </div>
        <div class="card">
          <img src="" alt="" />
          <h1 class="title-content">João Henrique</h1>
          <p class="text-content"><b>Serviço:</b> Nova armação</p>
          <p class="text-content"><b>Hora:</b> 10:00H</p>
          <p class="service">PENDENTE</p>
        </div>
        <div class="card">
          <img src="" alt="" />
          <h1 class="title-content">Lucas Alberto</h1>
          <p class="text-content"><b>Serviço:</b> Exame semanal</p>
          <p class="text-content"><b>Hora:</b> 19:00H</p>
          <p class="service">PENDENTE</p>
        </div>
        <div class="card">
          <img src="" alt="" />
          <h1 class="title-content">Juliana Nascimento</h1>
          <p class="text-content"><b>Serviço:</b> Aumento de grau</p>
          <p class="text-content"><b>Hora:</b> 9:45H</p>
          <p class="service">RESOLVIDO</p>
        </div>
        <div class="card">
          <img src="" alt="" />
          <h1 class="title-content">Roberto Toronto</h1>
          <p class="text-content"><b>Serviço:</b> Entrega de oculos</p>
          <p class="text-content"><b>Hora:</b> 7:20H</p>
          <p class="service">CANCELADO</p>
        </div>
        <div class="card">
          <img src="" alt="" />
          <h1 class="title-content">Bruno Gomes</h1>
          <p class="text-content"><b>Serviço:</b> Devolução de oculos</p>
          <p class="text-content"><b>Hora:</b> 15:00H</p>
          <p class="service">PENDENTE</p>
        </div>
      </div>
    </section>
  </body>
  
</html>
