.form_ {
    padding: 15px;
}

.btn-form {
    padding-top: 10px;
}

.btn-continuar {
    float: right;
}

/* css da paginaçao */

.pagination {
    margin-bottom: 20px;

}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}