{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
{% endblock %}
<title>{% block 'title' %}
  Excluir Estilo
       {% endblock %}</title>
{% block 'body'%}
  <h2 class="text-center">Excluir Estilo</h2>
  <p class="text-center">Tem certeza de que deseja excluir "{{ object }}"?</p>
  <form method="post" class="text-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmar</button>
  </form>
  <a href="{% url 'Core:estilos_list' %}" class="btn btn-primary">Cancelar</a>
{% endblock %}
