{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'Unidades/css/cadastro_cliente.css' %}">

<title>{% block 'title' %}
 Estoque
  {% endblock %}</title>
{% endblock %}

{% block 'body'%}
<div class="text-center">
  {% if messages %}
      {% for message in messages %}
          <div class="alert {{message.tags}}">
              {{message}}
          </div>
      {% endfor %}
  {% endif %}

  {% if user.FUNCAO == "G" %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: var(--bs-white);">
      <li class="breadcrumb-item"><a href="{% url 'Core:home'%}">Pagina Principal</a></li>
      <li class="breadcrumb-item active" aria-current="page">Estoque</li>
      <li class="breadcrumb-item"><a href="{% url 'Core:movimentacao'%}">Movimentaçao</a></li>
    </ol>
  </nav>
  
  <div style="justify-content: end;     display: table-cell;">
  <a href="{% url 'Core:fornecedor_list' %}" class="btn btn-primary">Fornecedores</a>
  <a href="{% url 'Core:tipos_list' %}" class="btn btn-success">Tipos</a>
  <a href="{% url 'Core:estilos_list' %}" class="btn btn-warning">Estilos</a>
  <a href="{% url 'Core:tiposund_list' %}" class="btn btn-secondary">Tipos Und</a>
</div>
  <div class="text-center">
      <form>
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Chave NF</label>
            <input  type="text" class="form-control" data-mask="00000000000000000000000000000000000000000000" id="chavenfe" name="chavenfe">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Fornecedor</label>
            <select id="fornecedor" name="fornecedor" class="form-control">
              <option value="" disabled selected>
              Fornecedor...
              </option>
              {% for fornecedor in  fornecedores %}
              <option value="{{fornecedor.id}}">{{fornecedor}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputState">Tipo</label>
            <select id="tipo" name="tipo" class="form-control">
              <option value="" disabled selected>
              Tipo...
              </option>
              {% for tipo in  tipos %}
              <option value="{{tipo.id}}">{{tipo}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputState">Estilo</label>
            <select id="estilo" name="estilo" class="form-control">
              <option value="" disabled selected>
                Estilo...
              </option>
              {% for estilo in  estilos %}
              <option value="{{estilo.id}}">{{estilo}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="inputCity">Preço unitario</label>
            <input type="text" class="form-control" id="preco_unitario" name="preco_unitario" data-mask='000.000.000.000.000,00' maxlength="6" data-mask-reverse="true">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Preco venda</label>
            <input type="text" class="form-control" id="preco_venda" name="preco_venda" data-mask='000.000.000.000.000,00' maxlength="6" data-mask-reverse="true">
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Quantidade</label>
            <input type="text" class="form-control" id="quantidade" name="quantidade">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Quantidade minima</label>
            <input type="text" class="form-control" id="quantidade_minima" name="quantidade_minima">
          </div>
          <div class="form-group col-md-2">
            <label for="inputState">Tipo Unitario</label>
            <select id="tipo_unitario" name="tipo_unitario" class="form-control">
              <option value="" disabled selected>Unitario</option>
              {% for und in  unitarios %}
              <option value="{{und.id}}">{{und}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" id="importado" name="importado" value="true">
            <label class="form-check-label" for="gridCheck">
              Importado
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" id="conferido" name="conferido" value="true">
            <label class="form-check-label" for="gridCheck">
              Conferido
            </label>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary"
        hx-post="{% url 'Core:save_product' %}"
        hx-trigget="click"
        hx-target="#list-products"
        >Cadastrar</button>
      </form>
      <hr>
      <div id="list-products">
        {% include 'parcial/produto_estoque.html' %}
        itens <span class="badge badge-success">{{quantidade.quantidade}}</span>
      </div>
      <div class="pagination">
              
        <samp class="step-links">
              {% if Produtos.has_previous %}
              <a href="?page={{Produtos.previous_page_number}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVR4nO2XQQrCMBBFH6gHUBdV8ABeQc0tep/eRgTrDTyDuLG68BZ6AKUwwiyKqyYzpf0QCJnF+8lkyAQGtas1MMZIAXgBRwsTO4F/ZJQpTQTgLeCzmh+AUUp4KbvWa/uYJkID/KdcpaNIDV8CD4ldgGnMC3cCJiqWAZXErsC8N/CFNfzeS/gKeMaEb/6UmobXpTZrG+7CQK2tZf47ZaKyNpENJtRJ3FKkI1g+xy4aEhctmYumtKlEk7flLj4mLr5mdFJfjvGIRFYr/lMAAAAASUVORK5CYII="></a>
              {% endif %}

                <samp class="current">
                  {{Produtos.number}} de {{Produtos.paginator.num_pages}}
                </samp>
              {% if Produtos.has_next %}
              <a href="?page={{Produtos.next_page_number}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA0ElEQVR4nO2XPQoCMRBGH6wHyNr5U1h6BWEL77D32duooEfwBoK1RAvv4G6vCAFDUBaLzIQlA4GQ5n35ZoZMIMd/MQKWKML3wAOopOEFsAGebnXAWhK+c+AWOHr7SvLmrQO+U3GQEtF4ttfeuZiIEjg70AWYaIgwwMmBLDD9kaKohWkCETNtEdcsgo8Tc+103IGFhoix16K3wImwRVeDE2B66mAbMwWmpx0zvIttu9W03X55jKLCS+3nuNEeSArtkUx9KE1iLE/iY5LE14xBxgtb/Ig367sTTAAAAABJRU5ErkJggg=="></a>
              {% endif %}
        </samp>
      </div>
              
          

        

          {% else%}
          <h1 class="text-center">Acesso apenas para Gerentes!</h1>
            {% endif%}

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
{% endblock %}