{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
{% endblock %}
<title>{% block 'title' %}
  Detalhes do Tipo
       {% endblock %}</title>
{% block 'body'%}
  <h2 class="text-center">Detalhes do Tipo</h2>
  <div class="text-center">
  
  <p>Nome: {{ object.nome }}</p>
  <a href="{% url 'Core:tipo_update' object.pk %}" class="btn btn-secondary">Editar</a>
  <a href="{% url 'Core:tipo_delete' object.pk %}" class="btn btn-danger">Excluir</a>
  <a href="{% url 'Core:tipos_list' %}" class="btn btn-primary">Voltar</a>
</div>
{% endblock %}
