{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/autenticacao.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" >
{% endblock %}

{% block 'body' %}
<div id="fundo">

    <div class="box text-center logar">
        <form action="{% url  'cadastro' %}" method="POST">{% csrf_token %}
            <div class="logar-form">
                    {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
        {% endif %}
            <h1 class="titulo font-degrade borda-bottom-degrade">INSCREVA-SE</h2>
            <br>
            <span class="span-descricao"></span>
            <input type="text" class="form-control input-cadastro" name="username" placeholder="Nome de usuário">
            <br>
            <span class="span-descricao"></span>
            <input type="text" class="form-control input-cadastro" name="email" placeholder="Email">
            <br>
            <span class="span-descricao"></span>
            <input type="password" class="form-control input-cadastro" name="password" placeholder="Senha">
            <br>
            <span class="span-descricao"></span>
            <input type="password" class="form-control input-cadastro" name="confirm-password" placeholder="Confirmar senha">
        </div>
            <br>
            <input  type="submit" value="Cadastrar" class="bto-success bto-group-lg bto-lg">
            
        </form>
            
    </div>
</div>
{% endblock %} 