{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/autenticacao.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" >
{% endblock %}

{% block 'body' %}
<div id="fundo">
{% if messages %}
<br>
{% for message in messages %}
<div class="alert {{message.tags}}">
{{message}}
</div>
{% endfor %}
{% endif %}

    <div class="box text-center logar">
        <form action="{% url 'logar' %}" method="post">{% csrf_token %}
            <div class="logar-form">
            <h1 class="titulo font-degrade borda-bottom-degrade">LOGAR</h2>
            <br>
            <label class="span-descricao"></label>
            <input type="text" class="form-control input-cadastro bnt" name="username" placeholder="Digite Seu Usuario">
            
            <label class="span-descricao"></label>
            <input type="password" class="form-control input-cadastro bnt" name="password" placeholder="Senha">
            <br>
        </div>
            <input  type="submit" value="Logar" class="bto-success bto-group-lg bto-lg">
            <!-- <a type="button" class="btn btn-secondary" href="{% url 'cadastro'%}">cadastrar</a> -->
            <a type="button" class="btn btn-secondary" href="{% url 'password_reset'%}">Esqueceu sua senha ?</a>
            <div>
                <br>
          
        </div>
        </form>
            
    </div>
</div>
{% endblock %}