{% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'Relatorio/js/js.css' %}" />
<link rel="stylesheet" href="{% static 'Relatorio/css/css.css' %}" />
{% block 'head' %}

<title>{% block 'title' %} Kanban Board {% endblock %}</title>
{% endblock %} {% block 'body'%}
<div class="container-fluid pt-3">
  <h3 class="font-weight-light text-center">Kanban Board Ultimos 30 Dias</h3>
  <div class="row flex-row flex-sm-nowrap py-3">
    {%for kanban in kankan_servicos %}
    <div class="col-sm-6 col-md-4 col-xl-3">
        <div class="card bg-light">
            <div class="card-body">
                <h6 class="card-title text-uppercase text-truncate py-2">
                    Solicitado
                    {% if kanban.STATUS == "A" %}
          </h6>
          <div class="items border border-light">
            <div class="card draggable shadow-sm">
              <div class="card-body p-2">
                <div class="card-title">
                  <img
                    src="//via.placeholder.com/30"
                    class="rounded-circle float-right"
                  />
                  <a href="" class="lead font-weight-light">{{kanban}}</a>
                </div>
                <p>
                  This is an item on the board. There is some descriptive text
                  that explains the item here.
                </p>
                <button class="btn btn-primary btn-sm">View</button>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
    </div>
</div>

    <div class="col-sm-6 col-md-4 col-xl-3">
      <div class="card bg-light">
        <div class="card-body">
          <h6 class="card-title text-uppercase text-truncate py-2">
            Laboratorio
          </h6>
          <div class="items border border-light">
            <div class="card draggable shadow-sm">
              <div class="card-body p-2">
                <div class="card-title">
                  <img
                    src="//via.placeholder.com/30"
                    class="rounded-circle float-right"
                  />
                  <a href="" class="lead font-weight-light">TSK-152</a>
                </div>
                <p>This is a task that is being worked on.</p>
                <button class="btn btn-primary btn-sm">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div class="card bg-light">
        <div class="card-body">
          <h6 class="card-title text-uppercase text-truncate py-2">Loja</h6>
          <div class="items border border-light">
            <div class="card draggable shadow-sm">
              <div class="card-body p-2">
                <div class="card-title">
                  <img
                    src="//via.placeholder.com/30"
                    class="rounded-circle float-right"
                  />
                  <a href="" class="lead font-weight-light">TSK-158</a>
                </div>
                <p>This is a description of a item on the board.</p>
                <button class="btn btn-primary btn-sm">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title text-uppercase text-truncate py-2">Entregue</h6>
          <div class="items border border-light">
            <div class="card draggable shadow-sm">
              <div class="card-body p-2">
                <div class="card-title">
                  <img
                    src="//via.placeholder.com/30"
                    class="rounded-circle float-right"
                  />
                  <a href="" class="lead font-weight-light">TSK-144</a>
                </div>
                <p>This is a description of an item.</p>
                <button class="btn btn-primary btn-sm">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor%}
</div>
{% endblock %}
